{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Update Profile{% endblock %}
{% block body %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card text-white bg-dark border-dark mb-3">
                    <div class="card-header">
                        <blockquote class="blockquote text-center">
                            <h2> {{name}}'s profile update</h2>
                        </blockquote>
                    </div>
                    <div class="card-body">

                        <form action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                <span style="color:black">{{ field.label_tag }} </span>
                                {% render_field field class="form-control" %}
                                {% endfor %}
                                <hr>
                                {% if messages%}
                                <span style="color:red">{{ message }}</span>
                                {% endif %}
                                <input type="submit" value="Update" class="btn btn-secondary btn-lg btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<footer clas="py-3" <p class="text-center" style="color:grey;"> © PlayBox™ 2022 </p>
</footer>
{% endblock %}